* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: pink;
}


/* menu header */
.header {
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    padding-left: 30px;
}

ul {
    justify-content: end;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 540px;
    height: 30px;
    padding: 15px;
    list-style: none;
}


 li {
    background-color: crimson;
    padding: 5px;
    list-style-type: none;
    width: 120px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li:hover{
    color: yellow;

} 

a {
    text-decoration: none;
    color:floralwhite;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

a:hover{
    color: salmon;
}



/* home - main image */

#main-image {
    background: url('images/candys.jpg');
    height: 660px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#transparent {
    background-color: rgb(142, 49, 228, 0.5);
    padding: 100px 300px;
    text-align: center;
}

#transparent h1 {
    color:crimson;
    font-size: 80px;
    margin-bottom: 40px;
    -webkit-text-stroke: 2px #0a0a23;
}

#transparent button {
    top:50%;
    background-color: crimson;
    color: #fff;
    border:none;
    border-radius:10px;
    height: 40px;
    width: 240px;
    color:floralwhite;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #0a0a23;
}

#transparent button:hover {
    background-color: salmon;
    color: #0a0a23;
    font-weight: 700;
}


/* information  */

#information {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px 0px 20px;
}

#info-text {
    width: 600px;
    margin-right: 50px;
}

#information img {
    box-shadow: 15px 15px 40px lightcoral;
    width: 700px;
    height: 500px;
}

#info-text p {
    font-size: 16px;
}

/* video */
#info-video {
    margin: 50px auto 0px auto;
    background-color: palevioletred;
    padding: 80px;
    text-align: center;
}

#info-video h2 {
    color:mediumvioletred;
    border: 3px solid blueviolet;
    margin-bottom: 40px;
    font-size: 70px;
    -webkit-text-stroke: 2px #0a0a23;
}

#info-video:hover {
    background-color:salmon;
    -webkit-text-stroke: 2px #0a0a23;
}

.footer {
    background-color: black;
    color: palevioletred;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* about page */

#gallery {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 420px;
    width: 100%;
}

#about-content {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#about-content h2 {
    font-family: "Playwrite ES", cursive;
    font-size: 48px;
    color: purple;
}

#gallery img { 
    width: 300px;
    height: 220px;
    border-radius: 100%
}

/* contact page */

#contact-content {
	height: 600px;
	background:pink;
	color:crimson;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#photo {
	width: 200px;
	height: 200px;
	border-radius: 100%
}