p{
    color:yellow;
}

.purpule-back{
    background-color: purple;
}

.green-back{
    background-color: green;
}

#push-up{
    font-size: 60px;
}

#squat{
    font-size: 40px;
}

#lunge{
    font-size: 20px;
}